@media(max-width: 768px){
    .main{
        overflow-x: hidden;
        .sub-section-container{
            &.documentation{
                .accordion{
                    width: 100%;
                }
            };
            .workaround-container{
                @include flex-column;
                .workaround-logs{
                    margin-top: 3rem;
                    .logs-container{
                        margin-left: 0;
                        align-items: center;
                    };
                };
            };
        };
        &.index{
            grid-template-rows: auto;
            .sub-section-container{
                .aside{
                    max-width: 60%;
                    .placeholder{
                        height: 0;
                    };
                };
            };
        };
        .start-section{
            position: unset;
        };
        .tools-section{
            position: unset;
            .cards-title{
                margin-top: 2rem;
            };
            .cards-container{
                .card-custom,
                .card-custom.coming-soon{
                    max-width: 40%;
                    margin: 1rem 0 1rem 0;
                };
                .card{
                    max-width: 40%;
                    margin: 1rem 0 1rem 0;
                }
            };
        };
        .sub-section-container.index,
        .sub-section-container{
            @include flex-column;
            margin-left: 1.2rem;
        };
        textarea{
            width: calc(100% - 3rem);
            height: auto;
        };
        .video-container{
            position: unset;
            .video-content{
                max-width: 75%;
            };
        };
        .sign-in{
            @include flex-column;
            background-image: unset;
            grid-template-columns: unset;
            grid-template-rows: 1fr 1fr;
            .sign-in-form{
                position: relative;
                width: 100%;
                border-radius: unset;
                .sign-in-set{
                    width: 100%;
                    margin-top: 1rem;
                };
                &.display-form{
                    transition: .4s linear;
                    display: flex;
                    visibility: visible;
                };
                &.hide-form{
                    transition: .4s linear;
                    border-radius: unset;
                    display: none;  
                    visibility: hidden;
                };
            };
            .sign-up-option{
                position: relative;
                width: 100%;
                top: unset;
                bottom: unset;
                right: unset;
                margin: 1rem 0;
            };
            .sign-up-form{
                position: relative;
                display: none;
                width: 100%;
                .sign-up-set{
                    width: 100%;
                    margin-top: 1rem;
                };
                &.display-form{
                    transition: .4s linear;
                    border-radius: unset;
                    display: flex;
                    visibility: visible;
                };
                &.hide-form{
                    transition: .4s linear;
                    border-radius: unset;
                    display: none;
                    visibility: hidden;
                };
            };
            .sign-in-option{
                position: relative;
                display: none;
                margin: 1rem 0;
            };
        };
    }
}