@media(max-width: 840px){
    html{
        font-size: 14px;
    }

    .main{
        .start-section{
            @include parallax(false);
        };
        .tools-section{
            @include parallax(false);
        };
        .video-container{
            .video-content{
                max-width: 75%;
            }
        };
        &.feedback{
            .sub-section-container{
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 70%;
                form{
                    margin-left: 0;
                    width: 100%;
                    .fieldset{
                        width: 100%;
                    };
                };
                .trivia-results-container{
                    width: 100%;
                    max-width: unset;
                };
            };
        };
    }
}