@media(max-width: 768px){
    .header .header-nav-bar{
        display: none;
    }

    .header .mobile-placeholder{
        display: block;
    }

    .header .mobile-menu{
        display: block;
        justify-self: flex-start;
    }

    .main.index{
        grid-template-rows: auto;
    }

    #mobile-menu-check:checked ~.mobile-menu-nav{
        visibility: visible;
        width: 100%;
        height: 100%;
        top: 6vh;
        opacity: .95;
        background-color: var(--header-background-color-3);
        transition: 0.6s;
        z-index: 1;
        overflow-y: auto;
    }

    .main .tools-section .cards-title{
        margin-top: 2rem;
    }

    .main .tools-section .cards-container .card-custom,
    .main .tools-section .cards-container .card-custom.coming-soon{
        max-width: 40%;
        margin: 1rem 0 1rem 0;
    }

    .main .tools-section .cards-container .card{
        max-width: 40%;
        margin: 1rem 0 1rem 0;
    }

    .main .sub-section-container.index,
    .main .sub-section-container{
        display: flex;
        flex-direction: column;
        margin-left: 1.2rem;
    }

    .main textarea{
        width: calc(100% - 3rem);
        height: auto;
    }

    .main .video-container .video-content{
        max-width: 75%;
    }
}