.main{
    &.feedback{
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://app-demo.duettoresearch.com/assets/insecure/img/loginDusseldorfGermany1.jpg?v=2407631");
        background-size: cover;
        width: 100%;
        height: auto;
        p{
            color: white;
            font-size: $mainFontSize;
        };
        h1{
            color: $headerBackgroundColor4;
        };
        .form{
            align-items: center;
            label{
                margin: 1rem;
            };
        };
        .sub-section-container{
            @include flex-row;
            &.justify-trivia{
                justify-content: space-around;
                margin-left: 0;
            };
            justify-content: center;
            .trUi-form{
                display: none;
                width: fit-content;
                .trUi-fieldset{
                    align-items: center;
                };
                p{
                    text-align: center;
                    max-width: 70%;
                };
                .trui-input{
                    margin: .5rem .5rem;
                };
                .trui-buttons-container{
                    @include flex-row;
                    justify-content: space-evenly;
                    width: 100%;
                };
            };
            .trivia-results-container{
                height: auto;
                @include flex-column;
                align-items: center;
                max-width: 25%;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: .4rem;
                    margin: auto;
                };
                .trBody{
                    text-align: center;
                    padding-top: 1rem;
                    .trTitle{
                        color: $headerBackgroundColor4;
                    };
                    .trScore{
                        margin: 1rem .2rem;
                    };
                    .trDescription{
                        font-size: 1rem;
                        margin: 0 .2rem;
                    };
                };
                .trMatchItems{
                    padding: 0;
                    margin: 1rem 0;
                    @include flex-row;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    justify-items: flex-start;
                    .trMatchItem{
                        width: 5rem;
                        list-style: none;
                        padding: .3rem 0;
                        margin-top: 1px;
                        text-align: center;
                        color: white;
                        background-color: $headerBackgroundColor4;
                        border: 1px solid $headerBackgroundColor1;
                        border-radius: .4rem;
                    };
                };
                .trInputDiv{
                    @include flex-row;
                    justify-content: space-between;
                    .trBtn{
                        margin-right: 1rem;
                    };
                };
            };
        };
    };
}