:root{
    --header-background-color-1: #0C395A;
    --header-background-color-2: #0257A3;
    --header-background-color-3: #3A79BD;
    --header-background-color-4: #44ADE2;
    --header-li-color: white;
    --header-font-size: 1.2rem;
    --main-h1-text-color: #0257A3;
    --main-h2-text-color: #3A79BD;
    --main-p-text-color: #767779;
    --main-font-size: 1.2rem;
    --main-img-width: 15rem;
    --main-img-height: 12rem;
    --main-tools-section-text-color: white;
    --footer-li-color: white;
    --foter-font-size: 1.2rem;
}