.footer{
    background-color: var(--header-background-color-4);
    width: 100%;
    grid-area: footer;
    .footer-nav-bar{
        height: 100%;
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            padding: 0;
            margin: 0;
        };
        li{
            list-style: none;
            a{
                text-decoration: none;
                font-size: var(--foter-font-size);
                color: var(--footer-li-color);
                &:hover{
                    color: var(--header-background-color-1);
                    transition: 0.3s ;
                }
            }
        }
    };
}